@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
    background-color: #141414;
    font-family: "Bebas Neue", cursive;

    color: white;
}
#navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 68px;
    display: flex;
    justify-content: space-between;
    background: rgb(7, 7, 7);
    font-family: "Bebas Neue", cursive;
    #logo {
        font-size: 30pt;
        color: #e50914;
        user-select: none;
        position: relative;
        padding-left: 4vw;
        top: 8px;
    }
    #left-side-info {
        color: #e5e5e5;
        // padding: 0 50px;
        list-style-type: none;
        margin: 0;
        width: 52px;
        padding: 0;
        user-select: none;
        :hover {
            color: #d1d1d1;
        }
        span {
            padding: 0 10px;
        }
    }

    #right-side-info {
        text-align: right;
        color: white;
        padding-right: 4vw;

        #search-group {
            border: 1px solid white;
            height: 36px;
            display: flex;
            margin-top: 15px;
            .icon{
                padding: 0 10px ;
            }
            input {
                padding-top: 6px;
                height: 24px;
                background-color: #e50914;
                background-color: transparent;
                color: white;
                border: none;
                font-size: 14px;
                outline: none;
                :focus {
                    border: blue;
                    width: 100%;
                }
            }
        }
        #profiles {
            #arrow-icon {
                transition-duration: 0.367s;
            }
            :hover {
                transform: rotate(180deg);
            }
        }
    }
}

// #search-icon {
//     display: none !important;
//     width: 24px;
// }
.icon{
    width: 10!important;
}

#selected {
    color: white;
}

.hidden {
    display: none !important;
}

footer {
    position: fixed;
    color: white;
    bottom: 0;
    font-size: 999;
}

.pointer {
    cursor: pointer;
}

#media-container{
    position: relative;
    top: 68px;
    background-color: darkblue;
    // height: 120px;
    display: flex;
    img{
        padding: 0 2px ;
        width: 20vw;
    }
}
#container{
    position: relative;
    top: 20vh;
    background-color: darkgreen;
    height: 120px;
}

.mediaContainer{
    display: flex;
    background-color: orange;
    overflow: hidden;
    .genre-title{
        position: relative;
        top: -20pt;
    }
    img{
        padding: 0 2px ;
        width: 20vw;
    }
}