@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  background-color: #141414;
  font-family: "Bebas Neue", cursive;
  color: white;
}

#navbar-container {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #070707;
  font-family: "Bebas Neue", cursive;
}

#navbar-container #logo {
  font-size: 30pt;
  color: #e50914;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  padding-left: 4vw;
  top: 8px;
}

#navbar-container #left-side-info {
  color: white;
  list-style-type: none;
  margin: 0;
  width: 52px;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#navbar-container #left-side-info span {
  padding: 0 10px;
}

#navbar-container #right-side-info {
  text-align: right;
  color: white;
  padding-right: 4vw;
}

#navbar-container #right-side-info #search-group {
  border: 1px solid white;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

#navbar-container #right-side-info #search-group .icon {
  padding: 0 10px;
}

#navbar-container #right-side-info #search-group input {
  padding-top: 6px;
  height: 24px;
  background-color: #e50914;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 14px;
  outline: none;
}

#navbar-container #right-side-info #search-group input :focus {
  border: blue;
  width: 100%;
}

#navbar-container #right-side-info #profiles #arrow-icon {
  -webkit-transition-duration: 0.367s;
          transition-duration: 0.367s;
}

#navbar-container #right-side-info #profiles :hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon {
  width: 10 !important;
}

#selected {
  color: white;
}

.hidden {
  display: none !important;
}

#search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-line-pack: start;
      align-content: start;
}

#search-container :after {
  display: block;
  content: " placeholder ";
  margin: 4px;
  -webkit-box-flex: 999;
      -ms-flex: 999 999 auto;
          flex: 999 999 auto;
}

#search-container .searchedImage {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 4px;
  width: 20vw;
  padding-bottom: 10vh;
}

footer {
  position: fixed;
  color: white;
  bottom: 0;
  font-size: 999;
}

.pointer {
  cursor: pointer;
}

#media-container {
  position: relative;
  top: 68px;
  background-color: darkblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#media-container img {
  padding: 0 2px;
  width: 20vw;
}

#container {
  position: relative;
  top: 68px;
  height: 120px;
  padding-left: 4vw;
}

.mediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: orange;
  padding-bottom: 4vw;
}

.mediaContainer .genre-title {
  position: relative;
  top: -20pt;
}

.mediaContainer img {
  padding: 0 2px;
  width: 22vw;
}

.mediaContainer :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.imgHover :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */