@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
//https://loading.io/flexbox/



html {
    background-color: #141414;
    font-family: "Bebas Neue", cursive;
    color: white;
    scroll-behavior: smooth;
}
.hidden {
    display: none !important;
}

span#no-api-key {
    font-family: initial !important;
    // color: blue !important;
}

#navbar-container {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 68px;
    display: flex;
    justify-content: space-between;
    background: rgb(7, 7, 7);
    font-family: "Bebas Neue", cursive;
    #logo {
        font-size: 30pt;
        color: #e50914;
        user-select: none;
        position: relative;
        padding-left: 4vw;
        top: 8px;
    }
    #left-side-info {
        color: white;
        list-style-type: none;
        margin: 0;
        width: 52px;
        padding: 0;
        user-select: none;
        span {
            padding: 0 10px;
        }
    }

    #right-side-info {
        text-align: right;
        color: white;
        padding-right: 4vw;

        #search-group {
            border: 1px solid white;
            height: 36px;
            display: flex;
            margin-top: 15px;
            .icon {
                padding: 0 10px;
            }
            input {
                padding-top: 6px;
                height: 24px;
                background-color: #e50914;
                background-color: transparent;
                color: white;
                border: none;
                font-size: 14px;
                outline: none;
                :focus {
                    border: blue;
                    width: 100%;
                }
            }
        }
    }
}

#search-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: auto;
    align-content: start;
    .searchedImage {
        flex: 0 0 auto;
        margin: 4px;
        width: 20vw;
        padding-bottom: 10vh;
        img {
            width: 20vw;
        }
    }
}

.pointer {
    cursor: pointer;
}

#container {
    position: relative;
    top: 68px;
    padding-left: 4vw;
}

.mediaContainer {
    display: flex;
    background-color: transparent;
    padding-bottom: 5vh;

    .genre-title {
        position: relative;
        top: -20pt;
    }
    img {
        z-index: 1;
        padding: 0 5px;
        width: 22vw;
    }
}

.gold-please {
    color: #ffd700;
}

.big-title {
    padding-right: 10px;
    font-size: 20pt;
}

#load-more-movies-btn {
    // display: none;
    position: relative;
    bottom: -40px;
    background-color: cyan;
    color: black;
    border: purple;
}